<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css') }}">
</head>  
<body>



        <h1>Czynności które powodują zmiane klimatu</h1>
        <h2>_____________________</h2>
        <h3>Dobrze wiemy jak poważna jest sytułacja na ziemi z powodu zmian klimatu a obecna zmiana jest nazywana globalnym ociepleniem, i tylko dzięki nam, ludzią może się udać je powstrzymać. </h3>
        <h4>Czym dokładnie jest zmiana klimatu?</h4>
        <h5>Zmiana klimatu to długotrwałe, znaczące odstępstwa od średnich warunków pogodowych (temperatury, opadów) na Ziemi, utrzymujące się przez lata. Wynika głównie z działalności człowieka.</h5>
        <h6>Jako autorka tej strony, pisząc tą strone chciałam aby ta powiększała świadomość czytelnikowi jak bardzo szkodliwe są niektore rzeczy ktore na codzień robimy dla naszego klimatu.</h6>
        <h7>A dlaczego to tak poważne?</h7>
        <h8>Skutki zmiany klimatu są już odczuwalne na całym świecie. Według Specjalnego Raportu IPCC mamy globalne ocieplenie o wzroście 1,5°C gdzie przy wzroście średniej globalnej temperatury o 2°C będą one dużo poważniejsze niż prognozowano dotychczas. Czekają nas częstsze:
        -Burze,
        -Powodzie,
        -Fale upałów,
        -Susze,
        -Wichury,
        -Pożary,
        -Gwałtowne uderzenia mrozu,
        -Podnoszenie się poziomu mórz i oceanów

        W konsekwencji pojawią się: 
        -Straty ekonomiczne
        -Migracje klimatyczne
        -Łatwiejsze rozprzestrzenianie się chorób zakaźnych
        -Wzmożenie napięć politycznych. </h8>

        <a href="{{url_for('przyczyna1') }}"class="przyczyna1">Kliknij aby dowiedzieć się jednej z najpotężniejszych przyczyn!🌳</a>
        

</body>
</html>