<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przyczyna</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css') }}">

</head>  
<body2>
    


        <h9>GŁÓWNA PRZYCZYNA</h9>
        <h10>Emisja gazów cieplarnianych</h10>
        <h11>Gazy cieplarniane, takie jak dwutlenek węgla (CO₂), metan (CH₄) czy podtlenek azotu (N₂O), tworzą w atmosferze warstwę zatrzymującą ciepło.</h11>
        <h12>Głownie powstają podczas spalania paliw kopalnych w elektrowniach, samochodach i fabrykach. Naturalny efekt cieplarniany jest potrzebny do życia, ale jego nadmiar powoduje globalne ocieplenie.</h12>
        <h13>Jednak jest na to rozwiązanie które możesz wprowadzić w swoje życie codzienne aby pomóc w walce z globalnym ociepleniem</h13>

        <a href="{{url_for('rozwiązanie1') }}"class="rozwiązanie1">Kliknij aby dowiedzieć się rozwiązania!🌳</a>

<div>      
    <img src="static/65615.jpg" class="CO">
</div>

</body2>
</html>