<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przyczyna</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css') }}">

</head>  
<body>

<body>


        <h19>WYLESIANIE</h19>
        <h20> Wylesianie lasów (czyli masowe wycinanie drzew) to jeden z głównych problemów środowiskowych i ma ogromny wpływ na zmiany klimatu. </h20>
        <h21>Wylesianie to proces usuwania lasów na dużą skalę, często bez ich odtwarzania. Lasy, zwłaszcza takie jak Amazonia, pełnią kluczową rolę w regulowaniu klimatu, pochłaniając dwutlenek węgla (CO₂).</h21>
        <h22>Kiedy lasy znikają: 
            -mniej CO₂ jest pochłaniane
            -więcej CO₂ trafia do atmosfery
            i klimat się ociepla</h22>

        <a href="{{url_for('rozwiazanie2') }}"class="rozwiazanie2">Kliknij aby dowiedzieć się rozwiązania!🌳</a>
<div>      
    <img src="static/616.jpg" class="LAS">
    
</div>


</body>
</html>