<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rozwiązanie</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css') }}">

</head>  
<body>

<body>


        <h14>Jako młode osoby, nie mamy wielu możliwości. Jednak coś się znalazło co można zmienić.  </h14>
        <h15>Zmien sposób przemieszczania! </h15>
        <h16>Wiele krai już wprowadziło bardziej ekologiczny transport typu elektryczne autobusy. Samo wyjęcie roweru w ładna pogode i pojechanie nim do szkoły też nie jest złym pomysłem.</h16>
        <h17>Jako dorosła osoba, możesz przesiąść się do elektrycznego samochodu!</h17>
        <h18>Ogranicza to znacząco emisję spalin i poprawia jakość powietrza.</h18>

        <a href="{{url_for('przyczyna2') }}"class="przyczyna2">Kliknij aby dowiedzieć się kolejnej przyczyny! 🌳</a>

<div>      
    <img src="static/eko.jpg" class="eko">
    <img src="static/bike.jpg" class="bike">
    <img src="static/car.jpg" class="car">
    <img src="static/white.jpg" class="back1">
</div>


</body>
</html>