<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rozwiazanie</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css') }}">

</head>  
<body>

<body>


        <h23>ROZWIĄZANIE</h23>
        <h24> Jako ludzie mamy nadal wpływ na przystopowanie masowego wylesiania np. </h24>
        <h25> Zalesianie czyli sadzenie nowych drzew</h25>
        <h26>Świadome wybory konsumentów czyli wybieranie produktów z certyfikatami np. drewno lub papier z odpowiedzialnych źródeł</h26>
        <h27>Prawo i kontrola czyli walczenie z nielegalną wycinką</h27>

        <a href="{{url_for('twójpomysł') }}"class="twójpomysł">🌳</a>

</body><div>      
    <img src="static/tree.jpg" class="tree">
    <img src="static/drzewa.png" class="back2">  
</div>
</html>